<a href="https://colab.research.google.com/github/GaryPython/question-survey-/blob/main/kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!ls

sample_data

###**上傳**

In [ ]:
from google.colab import files
uploaded = files.upload()#上傳

TypeError: ignored

### 目錄

In [ ]:
!ls

kaggle.zip  sample_data

### **解壓縮**

In [ ]:
!unzip kaggle.zip

Archive:  kaggle.zip
   creating: kaggle-survey-2017/
  inflating: __MACOSX/._kaggle-survey-2017
  inflating: kaggle-survey-2017/conversionRates.csv
  inflating: __MACOSX/kaggle-survey-2017/._conversionRates.csv
  inflating: kaggle-survey-2017/schema.csv
  inflating: __MACOSX/kaggle-survey-2017/._schema.csv
  inflating: kaggle-survey-2017/multipleChoiceResponses.csv
  inflating: __MACOSX/kaggle-survey-2017/._multipleChoiceResponses.csv
  inflating: kaggle-survey-2017/freeformResponses.csv
  inflating: __MACOSX/kaggle-survey-2017/._freeformResponses.csv
  inflating: kaggle-survey-2017/RespondentTypeREADME.txt
  inflating: __MACOSX/kaggle-survey-2017/._RespondentTypeREADME.txt
   creating: kaggle-survey-2018/
  inflating: __MACOSX/._kaggle-survey-2018
  inflating: kaggle-survey-2018/multipleChoiceResponses.csv
  inflating: __MACOSX/kaggle-survey-2018/._multipleChoiceResponses.csv
  inflating: kaggle-survey-2018/freeFormResponses.csv
  inflating: __MACOSX/kaggle-survey-2018/._freeFormResponses.csv
  inflating: kaggle-survey-2018/SurveySchema.csv
  inflating: __MACOSX/kaggle-survey-2018/._SurveySchema.csv
   creating: kaggle-survey-2019/
  inflating: __MACOSX/._kaggle-survey-2019
  inflating: kaggle-survey-2019/survey_schema.csv
  inflating: __MACOSX/kaggle-survey-2019/._survey_schema.csv
  inflating: kaggle-survey-2019/other_text_responses.csv
  inflating: __MACOSX/kaggle-survey-2019/._other_text_responses.csv
  inflating: kaggle-survey-2019/questions_only.csv
  inflating: __MACOSX/kaggle-survey-2019/._questions_only.csv
  inflating: kaggle-survey-2019/multiple_choice_responses.csv
  inflating: __MACOSX/kaggle-survey-2019/._multiple_choice_responses.csv

### **寫入**

In [ ]:
import pandas as pd

question_2017 = pd.read_csv('kaggle-survey-2017/schema.csv')
question_2018 = pd.read_csv('kaggle-survey-2018/SurveySchema.csv')
question_2019 = pd.read_csv('kaggle-survey-2019/questions_only.csv')

In [ ]:
print(question_2017.shape)
print(question_2018.shape)
print(question_2019.shape)

(290, 3)
(12, 52)
(1, 35)

In [ ]:
!ls

kaggle-survey-2017  kaggle-survey-2019	__MACOSX
kaggle-survey-2018  kaggle.zip		sample_data

###**寫入**

In [ ]:
import pandas as pd

survey_2017 = pd.read_csv('kaggle-survey-2017/multipleChoiceResponses.csv', encoding='ISO-8859-1',low_memory=False)
survey_2018 = pd.read_csv('kaggle-survey-2018/multipleChoiceResponses.csv', encoding='ISO-8859-1', skiprows=[1],low_memory=False)
survey_2019 = pd.read_csv('kaggle-survey-2019/multiple_choice_responses.csv', encoding='ISO-8859-1', skiprows=[1],low_memory=False)

###**外觀**

In [ ]:
survey_2017.head()

                                        GenderSelect  ... JobFactorPublishingOpportunity
0  Non-binary, genderqueer, or gender non-conforming  ...                            NaN
1                                             Female  ...                            NaN
2                                               Male  ...                 Very Important
3                                               Male  ...                            NaN
4                                               Male  ...                            NaN

[5 rows x 228 columns]

In [ ]:
survey_2018.head()

   Time from Start to Finish (seconds)      Q1  ...  Q50_Part_8 Q50_OTHER_TEXT
0                                  710  Female  ...         NaN             -1
1                                  434    Male  ...         NaN             -1
2                                  718  Female  ...         NaN             -1
3                                  621    Male  ...         NaN             -1
4                                  731    Male  ...         NaN             -1

[5 rows x 395 columns]

In [ ]:
survey_2019.head()

   Time from Start to Finish (seconds)     Q1  ... Q34_Part_12  Q34_OTHER_TEXT
0                                  510  22-24  ...         NaN              -1
1                                  423  40-44  ...         NaN              -1
2                                   83  55-59  ...         NaN              -1
3                                  391  40-44  ...         NaN              -1
4                                  392  22-24  ...         NaN              -1

[5 rows x 246 columns]

###**外觀數值**

In [ ]:
#外觀
print(survey_2017.shape)
print(survey_2018.shape)
print(survey_2019.shape)

(16716, 228)
(23859, 395)
(19717, 246)

In [ ]:
print(survey_2017.shape[0])
print(survey_2018.shape[0])
print(survey_2019.shape[0])

16716
23859
19717

In [ ]:
survey_2017['CurrentJobTitleSelect']

0                   DBA/Database Engineer
1                                     NaN
2                                     NaN
3        Operations Research Practitioner
4                      Computer Scientist
                       ...
16711                                 NaN
16712                          Programmer
16713                                 NaN
16714                                 NaN
16715                          Programmer
Name: CurrentJobTitleSelect, Length: 16716, dtype: object

In [ ]:
survey_2018['Q6']

0               Consultant
1                    Other
2           Data Scientist
3             Not employed
4             Data Analyst
               ...
23854        Chief Officer
23855                  NaN
23856    Software Engineer
23857                  NaN
23858                  NaN
Name: Q6, Length: 23859, dtype: object

In [ ]:
survey_2019['Q5']

0        Software Engineer
1        Software Engineer
2                      NaN
3                    Other
4                    Other
               ...
19712                  NaN
19713                Other
19714              Student
19715         Statistician
19716    Software Engineer
Name: Q5, Length: 19717, dtype: object

In [ ]:
def print_respondents_info(year, df, col_name):
  ttl_respondents = df.shape[0]
  #計算個數
  job_title_value_counts = df[col_name].value_counts()
  job_title_percentage = job_title_value_counts / ttl_respondents
  print("{}年的總答題人數為{:}".format(year,ttl_respondents))
  print("{}年的Data Analyst人數為{:,}人;比例為{:.2f}%".format(year, job_title_value_counts['Data Analyst'], job_title_percentage['Data Analyst']*100))

In [ ]:
print_respondents_info(2017, survey_2017, 'CurrentJobTitleSelect')
print_respondents_info(2018, survey_2018, 'Q6')
print_respondents_info(2019, survey_2019, 'Q5')

2017年的總答題人數為16716
2017年的Data Analyst人數為1,213人;比例為7.26%
2018年的總答題人數為23859
2018年的Data Analyst人數為1,922人;比例為8.06%
2019年的總答題人數為19717
2019年的Data Analyst人數為1,598人;比例為8.10%

In [ ]:
da_2017 = survey_2017[survey_2017['CurrentJobTitleSelect'] == 'Data Analyst']
da_2018 = survey_2018[survey_2018['Q6'] == 'Data Analyst']
da_2019 = survey_2019[survey_2019['Q5'] == 'Data Analyst']

In [ ]:
print(da_2017.shape[0])
print(da_2018.shape[0])
print(da_2019.shape[0])

1213
1922
1598

In [ ]:
da_2017['JobFactorManagement']
#單選題

25       NaN
62       NaN
112      NaN
119      NaN
126      NaN
        ...
16692    NaN
16693    NaN
16698    NaN
16702    NaN
16703    NaN
Name: JobFactorManagement, Length: 1213, dtype: object

In [ ]:
da_2018.loc[:, 'Q11_Part_1':'Q11_Part_7']
#複選

                                              Q11_Part_1  ... Q11_Part_7
4                                                    NaN  ...      Other
14     Analyze and understand data to influence produ...  ...        NaN
27     Analyze and understand data to influence produ...  ...        NaN
33     Analyze and understand data to influence produ...  ...        NaN
46                                                   NaN  ...        NaN
...                                                  ...  ...        ...
23785                                                NaN  ...        NaN
23786  Analyze and understand data to influence produ...  ...        NaN
23798                                                NaN  ...        NaN
23838                                                NaN  ...        NaN
23849  Analyze and understand data to influence produ...  ...        NaN

[1922 rows x 7 columns]

### **分析單選多選的函數**

In [ ]:
def gat_value_ratios(df, col_name):
  return df[col_name].value_counts() / df[col_name].value_counts().sum()
#分析單選

In [ ]:
def get_checkbox_ratios(df, col_pattern):
  channel_names = []
  channel_checks = []
  for col_name in df.columns:
    if (col_pattern in col_name) and ('OTHER_TEXT' not in col_name):
      channel_name = df[col_name].value_counts().index
      channel_check = df[col_name].value_counts().values
      if channel_name.size!= 0:
          channel_names.append(channel_name[0])
          channel_checks.append(channel_check[0])
  channel_counts = pd.Series(channel_checks, index=channel_names)
  channel_ratios = channel_counts / channel_counts.sum()
  channel_ratios_sorted = channel_ratios.sort_values(ascending=False)
  return channel_ratios_sorted

### **分析工作內容**

In [ ]:
gat_value_ratios(da_2017, 'JobFunctionSelect')

Analyze and understand data to influence product or business decisions                                                0.711387
Build and/or run the data infrastructure that your business uses for storing, analyzing, and operationalizing data    0.110485
Build and/or run a machine learning service that operationally improves your product or workflows                     0.082300
Build prototypes to explore applying machine learning to new areas                                                    0.052988
Other                                                                                                                 0.030440
Research that advances the state of the art of machine learning                                                       0.012401
Name: JobFunctionSelect, dtype: float64

In [ ]:
get_checkbox_ratios(da_2018,'Q11')

Analyze and understand data to influence product or business decisions                                              0.414894
Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data    0.196647
Build prototypes to explore applying machine learning to new areas                                                  0.137331
Build and/or run a machine learning service that operationally improves my product or workflows                     0.116054
Do research that advances the state of the art of machine learning                                                  0.081560
None of these activities are an important part of my role at work                                                   0.031270
Other                                                                                                               0.022244
dtype: float64

In [ ]:
get_checkbox_ratios(da_2019,'Q9')

Analyze and understand data to influence product or business decisions                                              0.376728
Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data    0.188141
Build prototypes to explore applying machine learning to new areas                                                  0.157379
Experimentation and iteration to improve existing ML models                                                         0.100758
Build and/or run a machine learning service that operationally improves my product or workflows                     0.100312
Do research that advances the state of the art of machine learning                                                  0.054837
Other                                                                                                               0.011592
None of these activities are an important part of my role at work                                                   0.010254
dtype: float64

### **分析環境**

In [ ]:
gat_value_ratios(da_2018, 'Q12_MULTIPLE_CHOICE')

Local or hosted development environments (RStudio, JupyterLab, etc.)    0.404385
Basic statistical software (Microsoft Excel, Google Sheets, etc.)       0.198538
Business intelligence software (Salesforce, Tableau, Spotfire, etc.)    0.152862
Advanced statistical software (SPSS, SAS, etc.)                         0.137637
Other                                                                   0.063946
Cloud-based data software & APIs (AWS, GCP, Azure, etc.)                0.042631
Name: Q12_MULTIPLE_CHOICE, dtype: float64

In [ ]:
gat_value_ratios(da_2019,'Q14')

Local development environments (RStudio, JupyterLab, etc.)              0.427692
Basic statistical software (Microsoft Excel, Google Sheets, etc.)       0.199231
Business intelligence software (Salesforce, Tableau, Spotfire, etc.)    0.156154
Advanced statistical software (SPSS, SAS, etc.)                         0.106154
Other                                                                   0.068462
Cloud-based data software & APIs (AWS, GCP, Azure, etc.)                0.042308
Name: Q14, dtype: float64

### **分析程式語言**

In [ ]:
get_checkbox_ratios(da_2018,'Q16')

Python                   0.266934
SQL                      0.227273
R                        0.188057
Visual Basic/VBA         0.042558
SAS/STATA                0.041667
Java                     0.038324
C/C++                    0.037210
Javascript/Typescript    0.035873
Bash                     0.029635
MATLAB                   0.029635
C#/.NET                  0.016488
PHP                      0.012255
Scala                    0.011809
Other                    0.007799
Ruby                     0.005125
None                     0.004679
Go                       0.002674
Julia                    0.002005
dtype: float64

In [ ]:
get_checkbox_ratios(da_2019,'Q18')

Python        0.339792
SQL           0.275433
R             0.191349
Javascript    0.035640
Bash          0.030104
MATLAB        0.027682
Other         0.026990
Java          0.025952
C++           0.020415
C             0.019377
None          0.004152
TypeScript    0.003114
dtype: float64

In [ ]:
gat_value_ratios(da_2018,'Q18')

Python        0.621875
R             0.208750
SQL           0.121250
C++           0.009375
Java          0.007500
MATLAB        0.006875
SAS           0.006250
Other         0.005000
VBA           0.003750
None          0.003750
Javascript    0.003125
Scala         0.001875
Go            0.000625
Name: Q18, dtype: float64

In [ ]:
gat_value_ratios(da_2019,'Q19')

Python        0.676885
SQL           0.144988
R             0.131732
C++           0.011599
MATLAB        0.008285
None          0.007457
Other         0.006628
C             0.004143
Java          0.003314
Javascript    0.002486
Bash          0.001657
TypeScript    0.000829
Name: Q19, dtype: float64

### **整合開發環境分析**

In [ ]:
get_checkbox_ratios(da_2018,'Q13')

Jupyter/IPython       0.187381
RStudio               0.173207
Notepad++             0.120138
PyCharm               0.082627
Spyder                0.080380
Sublime Text          0.065341
Visual Studio         0.059118
MATLAB                0.059118
Visual Studio Code    0.051685
Atom                  0.044252
Vim                   0.030251
IntelliJ              0.022818
Other                 0.014866
None                  0.007606
nteract               0.001210
dtype: float64

In [ ]:
get_checkbox_ratios(da_2019,'Q16')

Jupyter (JupyterLab, Jupyter Notebooks, etc)     0.268512
 RStudio                                         0.177452
  Notepad++                                      0.098732
  Spyder                                         0.093062
 Visual Studio / Visual Studio Code              0.090727
 PyCharm                                         0.084723
  Sublime Text                                   0.064043
 Atom                                            0.035357
 MATLAB                                          0.034023
  Vim / Emacs                                    0.021348
Other                                            0.016344
None                                             0.015677
dtype: float64

### **分析視覺化**

In [ ]:
get_checkbox_ratios(da_2018,'Q21')

Matplotlib    0.232951
ggplot2       0.216780
Seaborn       0.151394
Plotly        0.134286
Shiny         0.077806
D3            0.038200
None          0.031638
Bokeh         0.030935
Lattice       0.026014
Leaflet       0.025545
Geoplotlib    0.021561
Other         0.009843
Altair        0.003047
dtype: float64

In [ ]:
get_checkbox_ratios(da_2019,'Q20')

 Matplotlib                  0.288897
 Seaborn                     0.200538
 Ggplot / ggplot2            0.175567
 Plotly / Plotly Express     0.109105
 Shiny                       0.058010
None                         0.050327
 Bokeh                       0.029197
 D3.js                       0.026124
Other                        0.021129
 Geoplotlib                  0.020745
 Leaflet / Folium            0.017672
 Altair                      0.002689
dtype: float64

###**機器學習框架**

In [ ]:
get_checkbox_ratios(da_2018,'Q19')

Scikit-Learn    0.198007
randomForest    0.141681
TensorFlow      0.119151
Xgboost         0.100737
Keras           0.096404
None            0.071274
Caret           0.063258
PyTorch         0.035095
lightgbm        0.033795
H20             0.026863
Spark MLlib     0.025563
catboost        0.017981
Prophet         0.016464
mlr             0.015815
CNTK            0.010615
Caffe           0.007799
Fastai          0.006932
Mxnet           0.006716
Other           0.005849
dtype: float64

In [ ]:
get_checkbox_ratios(da_2019,'Q28')

  Scikit-learn     0.242898
 RandomForest      0.147727
 Xgboost           0.111506
 Keras             0.106179
  TensorFlow       0.106179
None               0.087358
 PyTorch           0.063210
 LightGBM          0.051136
 Caret             0.043324
 Spark MLib        0.019886
 Fast.ai           0.015625
Other              0.004972
dtype: float64

###**關聯式資料庫**

In [ ]:
get_checkbox_ratios(da_2018,'Q29')

MySQL                               0.222786
Microsoft SQL Server                0.143911
PostgresSQL                         0.126384
SQLite                              0.112085
Oracle Database                     0.107934
Microsoft Access                    0.065037
None                                0.032288
AWS Relational Database Service     0.029982
Google Cloud SQL                    0.028137
Other                               0.022601
Azure SQL Database                  0.019373
Google Cloud Bigtable               0.014760
AWS DynamoDB                        0.011531
Azure Database for MySQL            0.010609
IBM Cloud Db2                       0.010148
AWS SimpleDB                        0.008303
Google Cloud Datastore              0.007380
AWS Aurora                          0.005535
Google Fusion Tables                0.004151
Azure Cosmos DB                     0.003229
Azure Database for PostgreSQL       0.003229
IBM Cloud Compose                   0.003229
SAP IQ                              0.002306
IBM Cloud Compose for PostgreSQL    0.001384
Google Cloud Spanner                0.001384
IBM Cloud Compose for MySQL         0.001384
Ingres                              0.000923
dtype: float64

In [ ]:
get_checkbox_ratios(da_2019,'Q34')

MySQL                              0.251493
Microsoft SQL Server               0.172388
PostgresSQL                        0.126866
Oracle Database                    0.105224
SQLite                             0.094030
None                               0.062687
Microsoft Access                   0.061940
Google Cloud SQL                   0.035075
Azure SQL Database                 0.031343
AWS Relational Database Service    0.024627
Other                              0.018657
AWS DynamoDB                       0.015672
dtype: float64